<HTML>
  <script
    type="text/javascript"
    src="./javascripts/likesView.js"
    defer
  ></script>
  <link rel="stylesheet" href="/stylesheets/posts_style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <form action="/" method="GET">
    <input type="submit" value="Home" />
  </form>

  <h1>Timeline</h1>

  <form id="new-post-form" action="/posts" method="post">
  {{!-- <label for="message">Message: </label> --}}
  <textarea
    id="message"
    name="message"
    value=""
    rows="2"
    type="text"
    placeholder="Type your post here..."
  ></textarea><br>
  <input type="submit" value="Submit" />
</form>

  <ul class="posts">
    {{#each posts}}
    <p>{{this.user.username}}</p>
      <p class="post-message">{{this.message}}</p>
      <div id="datestamp">Created at {{formatDate this.createdAt}}</div>
      <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
      <span id="likes-count-{{this.id}}">{{this.likes}}</span>   

    <p>{{this.comments}}</p>

      <form id="new-comment-form" action= '/comments/{{this.id}}' method='post'>
        <label for="new-comment-form">Comment:</label>
        <input type="text" name="commentText"> 
        <input type="submit" value="submit">
      </form>
      </li>

    {{/each}}
  </ul>

  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" id="logout" value="Log Out" />
  </form>




